{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "bg-header.jpg" %}
{% set text_header = "Trouve une formation ou ton prochain emploi" %}
{% set span_header = "Le plus proche de chez toi" %}

{% extends "template.html" %}

{% block y %}

<div class="main map">
  <div class="wrap">
  	<div class="map-container">
      <img src="media/map.jpg" alt="">
    </div>
    <div class="panel-map">
      <img src="media/menu-map.jpg" alt="">
    </div>
  </div>
</div>

{% endblock %}
