{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "bg-header.jpg" %}
{% set text_header = "Trouve une formation ou ton prochain emploi" %}
{% set span_header = "Le plus proche de chez toi" %}

{% extends "template.html" %}

{% block y %}

<div class="main map">
  <div class="wrap">
    <div class="header">
		<h3>1 200 fabriques en trois ans.</h3>

		<p>L’ambition de la Grande École du Numérique doit répondre à des objectifs chiffrés et précis, en lien avec la demande du marché : 10 000 jeunes formés d’ici 2017 grâce à 200 fabriques réparties sur l’ensemble des départements. Il s’agit pour cela de déployer progressivement des mesures spécifiques capables de répondre à l’urgence avant qu’avec le temps et l’expérience le dispositif puisse se stabiliser. </p>
   	</div>
	<div class="dummy-map">
		
	</div>
	
  </div>
</div>

{% endblock %}
