{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "hero-decouvrir.jpg" %}
{% set text_header = "La grande école du numérique" %}
{% set span_header = "Une utopie réaliste" %}

{% extends "template.html" %}

{% block y %}

<div class="main decouvrir">
  <div class="wrap">
    <div class="header">
		<h2 class="no-left-border">Qu'est-ce que la Grande &Eacute;cole du Numérique ?</h2>

		<hr>

		<p>La Grande &Eacute;cole du Numérique est une plateforme qui va vous permettre de vous former, gratuitement sans prérequis, puis de trouver un emploi.</p>
		
		<h3>Des formations ouvertes à tous</h3>
		<p>La grande école du numérique réunit des formations qui s'adressent en priorité aux personnes sans qualification ou diplôme, à la recherche d'un emploi ou en reconversion professionnelle. Ces formations associeront des initiatives privées, associatives, publiques ou encore universitaires. L'appel à projet qui vient d'être lancé vise à labelliser les formations.</p>
		
		<h3>Un emploi à la clé</h3>
		<p>La Grande &Eacute;cole du Numérique vous accompagne, de votre formation à votre emploi. Les formations, qui durent de 12 à 24 mois, permettent de vous former rapidement et de vous préparer au monde professionnel. Une fois que vous avez complété votre formation, nous mettons à votre disposition une plateforme sur laquelle vous pourrez construire votre CV, le déposer, et parcourir les offres d'emploi. Nous disposons d'un important réseau d'entreprises, avec des profils recherchés très variés.</p>
		
		<h3>Un exercice de création collective</h3>
		<p>A l'occasion du lancement de cette école, se tient pendant deux jours « le hackathon- innovathon créatif ». Cet exercice de création collective se déroule à l'Ecole des Mines puis à l'Elysée. Il réunit une soixantaine de jeunes formés aux métiers du numérique (développeurs, graphistes, designers, etc.). Ils sont accompagnés par des mentors et des experts, personnalités reconnues qui les conseillent et les guident dans la création d'outils numériques innovants.<br><br>
	Lors d'une conférence de presse, le Président de la République avait annoncé le 5 février 2015, la création d’une « grande école du numérique », chargée de « diffuser ses formations partout sur le territoire en plus de ce qui va être fait dans le cadre de l’enseignement ».</p>
   	</div>
	
  </div>
</div>

<script>
	$('article p').hide();
	
	$('h3').click (function() {
		if ($(this).siblings('i').hasClass('expand'))
		{
			$(this).siblings('p').slideDown(); $(this).siblings('i').removeClass('expand').addClass('contract');
		}
		else
		{
			$(this).siblings('p').slideUp(); $(this).siblings('i').removeClass('contract').addClass('expand');
		}
	});
	
</script>

{% endblock %}
