{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "hero-decouvrir.jpg" %}
{% set text_header = "La grande école du numérique" %}
{% set span_header = "Une utopie réaliste" %}

{% extends "template.html" %}

{% block y %}

<div class="main decouvrir">
  <div class="wrap">
    <div class="header">
		<h2 class="no-left-border">Qu'est-ce que la Grande &Eacute;cole du Numérique ?</h2>

		<hr>

		<p style="display: none;">La Grande &Eacute;cole du Numérique est une plateforme qui va vous permettre de vous former, gratuitement sans prérequis, puis de trouver un emploi.</p>
		
		<h3>Des formations gratuites et ouvertes à tous</h3>
		<p>La Grande &Eacute;cole du Numérique réunit des formations qui s'adressent en priorité aux personnes sans qualification ou diplôme, à la recherche d'un emploi ou en reconversion professionnelle. Ces formations associeront des initiatives privées, associatives, publiques ou encore universitaires.</p>
		
		<h3>Un emploi à la clé</h3>
		<p>La Grande &Eacute;cole du Numérique vous accompagne, de votre formation à votre emploi. Les formations, qui durent de 12 à 24 mois, permettent de vous former rapidement et de vous préparer au monde professionnel. Une fois que vous avez complété votre formation, nous mettons à votre disposition une plateforme sur laquelle vous pourrez construire votre CV, le déposer, et parcourir les offres d'emploi. Nous disposons d'un important réseau d'entreprises, avec des profils recherchés très variés.</p>
  	
  		<h3>Une communauté</h3>
		<p>Au moindre doute sur votre choix de formation ou de métier vers lequel vous orienter, une communauté de personnes travaillant dans le web, d'anciens étudiants et de futurs étudiants et viendront vous répondre sur les forums et apporter leur témoignage.</p>
   	</div>
			
		<div class="calltoaction">
	  	<a href="parcourir_metiers.html" class="btn blue">Parcourir les métiers</a>
	  	<a href="fiche_metier.html" class="btn blue">Fiche métier</a>
	  </div>

  </div>
</div>

<script>
	$('article p').hide();
	
	$('h3').click (function() {
		if ($(this).siblings('i').hasClass('expand'))
		{
			$(this).siblings('p').slideDown(); $(this).siblings('i').removeClass('expand').addClass('contract');
		}
		else
		{
			$(this).siblings('p').slideUp(); $(this).siblings('i').removeClass('contract').addClass('expand');
		}
	});
	
</script>

{% endblock %}
