{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "hero-label.jpg" %}
{% set text_header = "Foire aux questions" %}
{% set span_header = "Echangez avec des étudiants et des représentants de la GEN" %}

{% extends "template.html" %}

{% block y %}

<div class="main faq">
  <div class="wrap">
	
	<article>
		<i class="icon expand"></i><h3>Puis-je bénéficier d'une bourse d'études lors de ma formation ?</h3><div class="clearfix"></div>
		<p>Oui, il est possible de bénéficier d'une bourse d'études si vous remplissez les conditions d'éligibilité qui seront fournies sur la plateforme sous peu.</p>
	</article>
	
	<article>
		<i class="icon expand"></i><h3>Quelles facilités la Grande &Eacute;cole du Numérique nous met-elle à disposition lors de la recherche d'emploi ?</h3><div class="clearfix"></div>
		<p>La Grande &Eacute;cole du Numérique est avant tout une plateforme : une fois votre compte créé, vous aurez la possibilité de construire votre CV, de le déposer, de parcourir les offres d'emploi que les entreprises ont déposées sur la plateforme, et d'y postuler. Notre priorité est l'emploi ; c'est pourquoi nous prenons toutes les mesures pour vous intégrer au milieu professionnel le plus rapidement, et avec le plus de facilité.</p>
	</article>
	
	<article>
		<i class="icon expand"></i><h3>Quels prérequis sont nécessaires pour pouvoir postuler ?</h3><div class="clearfix"></div>
		<p>Les formations proposées ne nécessitent de manière générale aucun prérequis spécifique. Elles se veulent ouvertes à tous, et c'est donc la motivation qui jouera principalement lors d'un éventuel entretien d'admission. La Grande &Eacute;cole du Numérique a pour but d'offrir des formations accessibles à toutes, indépendamment de votre expérience académique ou de votre parcours professionnel. Ainsi, l'ensemble des formations proposées sur cette plateforme ont été spécialement sélectionnées en fonction de critères bien définis et respectent toutes un cahier des charges fourni par la plateforme.</p>
	</article>
	
	<ul class="posts">
		{% for counter in [07,50,85,61,98,07,50,85,61,98] %}
		<li>
			<div class="left">
				
			</div>
			
			<div class="center">
				<h4>Profil plutôt créatif ; quelle formation me conseillez-vous ? </h4>
				<p>Bonjour, j'aimerais avoir vos conseils pour une formation qui me conviendrait.</p>
				<p class="sub">16 réponses &mdash; Dernière réponse il y a 7 heures &mdash; Posté par Matthieu</p>
			</div>
			
			<!--<div class="right">
				<p>
				Posté par Matthieu<br>
				<i class="icon messages"></i> 16 réponses
				</p>
			</div>-->
		</li>
		{% endfor %}
	</ul>
	
  </div>
</div>

<script>
	
	$('.posts li').click(function(){ $('<a href="faq_rep.html"></a>').appendTo('body').get(0).click(); });
	
	$('article p').hide();
	
	$('h3').click (function() {
		if ($(this).siblings('i').hasClass('expand'))
		{
			$(this).siblings('p').slideDown(); $(this).siblings('i').removeClass('expand').addClass('contract');
		}
		else
		{
			$(this).siblings('p').slideUp(); $(this).siblings('i').removeClass('contract').addClass('expand');
		}
	});
</script>

{% endblock %}
