{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "hero-label.jpg" %}
{% set text_header = "Foire aux questions" %}
{% set span_header = "Echangez avec des étudiants et des représentants de la GEN" %}

{% extends "template.html" %}

{% block y %}

<div class="main faq">
  <div class="wrap">
	
	<article>
		<i class="icon expand"></i><h3>Puis-je bénéficier d'une bourse d'études lors de ma formation ?</h3><div class="clearfix"></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis doloribus in dolores vel non omnis sint deleniti! Optio repellendus delectus nisi soluta obcaecati vero excepturi nam. Earum, error. Iusto nisi, labore reiciendis dolores, eveniet quod doloremque repudiandae molestias dolorem recusandae quaerat cum sint ipsum nulla soluta est quam praesentium cumque necessitatibus aliquam accusamus nemo odio aut! Ab at a sapiente maxime eligendi veritatis facere consequatur, quas fugit sed quis nisi laudantium nesciunt voluptas iusto, tenetur, quia suscipit quaerat accusantium non in laborum! Quae suscipit ex eius nisi, necessitatibus exercitationem architecto voluptates, aliquid. Assumenda eligendi dignissimos modi quaerat amet optio, a.</p>
	</article>
	
	<article>
		<i class="icon expand"></i><h3>La formation est-elle entièrement gratuite ?</h3><div class="clearfix"></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis doloribus in dolores vel non omnis sint deleniti! Optio repellendus delectus nisi soluta obcaecati vero excepturi nam. Earum, error. Iusto nisi, labore reiciendis dolores, eveniet quod doloremque repudiandae molestias dolorem recusandae quaerat cum sint ipsum nulla soluta est quam praesentium cumque necessitatibus aliquam accusamus nemo odio aut! Ab at a sapiente maxime eligendi veritatis facere consequatur, quas fugit sed quis nisi laudantium nesciunt voluptas iusto, tenetur, quia suscipit quaerat accusantium non in laborum! Quae suscipit ex eius nisi, necessitatibus exercitationem architecto voluptates, aliquid. Assumenda eligendi dignissimos modi quaerat amet optio, a.</p>
	</article>
	
	<article>
		<i class="icon expand"></i><h3>Quelles facilités la Grande &Eacute;cole du Numérique nous met-elle à disposition lors de la recherche d'emploi ?</h3><div class="clearfix"></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis doloribus in dolores vel non omnis sint deleniti! Optio repellendus delectus nisi soluta obcaecati vero excepturi nam. Earum, error. Iusto nisi, labore reiciendis dolores, eveniet quod doloremque repudiandae molestias dolorem recusandae quaerat cum sint ipsum nulla soluta est quam praesentium cumque necessitatibus aliquam accusamus nemo odio aut! Ab at a sapiente maxime eligendi veritatis facere consequatur, quas fugit sed quis nisi laudantium nesciunt voluptas iusto, tenetur, quia suscipit quaerat accusantium non in laborum! Quae suscipit ex eius nisi, necessitatibus exercitationem architecto voluptates, aliquid. Assumenda eligendi dignissimos modi quaerat amet optio, a.</p>
	</article>
	
	<article>
		<i class="icon expand"></i><h3>Quels prérequis sont nécessaires pour pouvoir postuler ?</h3><div class="clearfix"></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis doloribus in dolores vel non omnis sint deleniti! Optio repellendus delectus nisi soluta obcaecati vero excepturi nam. Earum, error. Iusto nisi, labore reiciendis dolores, eveniet quod doloremque repudiandae molestias dolorem recusandae quaerat cum sint ipsum nulla soluta est quam praesentium cumque necessitatibus aliquam accusamus nemo odio aut! Ab at a sapiente maxime eligendi veritatis facere consequatur, quas fugit sed quis nisi laudantium nesciunt voluptas iusto, tenetur, quia suscipit quaerat accusantium non in laborum! Quae suscipit ex eius nisi, necessitatibus exercitationem architecto voluptates, aliquid. Assumenda eligendi dignissimos modi quaerat amet optio, a.</p>
	</article>
	
	<ul class="posts">
		{% for counter in [07,50,85,61,98,07,50,85,61,98] %}
		<li>
			<div class="left">
				
			</div>
			
			<div class="center">
				<h4>Profil plutôt créatif ; quelle formation me conseillez-vous ? </h4>
				<p>Bonjour, j'aimerais avoir vos conseils pour une formation qui me conviendrait.</p>
				<p class="sub">16 réponses &mdash; Dernière réponse aujourd'hui à 14:24 &mdash; Posté par Matthieu</p>
			</div>
			
			<!--<div class="right">
				<p>
				Posté par Matthieu<br>
				<i class="icon messages"></i> 16 réponses
				</p>
			</div>-->
		</li>
		{% endfor %}
	</ul>
	
  </div>
</div>

<script>
	$('article p').hide();
	
	$('h3').click (function() {
		if ($(this).siblings('i').hasClass('expand'))
		{
			$(this).siblings('p').slideDown(); $(this).siblings('i').removeClass('expand').addClass('contract');
		}
		else
		{
			$(this).siblings('p').slideUp(); $(this).siblings('i').removeClass('contract').addClass('expand');
		}
	});
</script>

{% endblock %}
