{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bodyClass = "white" %}
{% set bg_header = "fiche_metier.jpg" %}
{% set text_header = "UI Designer" %}
{% set span_header = "et l’interface prend vie" %}

{% extends "template.html" %}

{% block y %}

<div class="fiche">
  <header class="infos">
    <div class="info">
      <i class="icon formation"></i>
      <h4>Niveau</h4>
      <h5>Bac+2/+3/+4/+5</h5>
    </div>
    <div class="info">
      <i class="icon salaire"></i>
      <h4>Salaire (moyenne):</h4>
      <h5>36 000€ brut annuel</h5>
    </div>
    <div class="info">
      <i class="icon perspective"></i>
      <h4>Perspective d'évolution</h4>
      <h5>Directeur artistique</h5>
    </div>
    <div class="info">
      <i class="icon status"></i>
      <h4>Status</h4>
      <h5>TPE, PME, Grandes entreprises, 
Freelance</h5>
    </div>
  </header>
  <div class="wrap">
    <article>
      <p class="chapeau">
        L’UI designer (ou designer d'interfaces web) est chargé de concevoir et de réaliser le design d'une interface web : son métier ne se résume pas à la conception graphique seule car il s'attache avant tout à la formalisation des interactions des pages du site web.  Créatif et novateur, il tient néanmoins compte des contraintes spécifiques au support Internet en termes d’ergonomie, d’utilisabilité et d’accessibilité.
      </p>
      <hr>
      <h2>Présentation</h2>
      <p>Le webdesigner est chargé de réaliser la conception d’une interface web : l’architecture interactionnelle, l’organisation des pages, l’arborescence et la navigation. Il s’agit d’une phase essentielle dans la conception d’un site. La conception d'un design web tient compte des contraintes spécifiques du support internet en termes d’ergonomie, d’utilisabilité et d’accessibilité.
    Le webdesigner intervient dès le début du projet, il élabore la maquette et produit les différents éléments graphiques du site. A la fois artiste et informaticien, il conçoit l'identité visuelle et la charte graphique des sites sur lesquels il travaille, tout en tenant compte des spécificités techniques du web. À partir de la demande du client, il fait une traduction artistique globale, en lien avec le contenu du site. Créatif et novateur, les priorités du webdesigner sont : le respect du cahier des charges du client et la séduction des futurs utilisateurs des pages web.</p>
      <h2>Missions</h2>
      <p>L’objectif du webdesigner est de valoriser l'image de l'entreprise ou de l'organisation grâce aux éléments graphiques du site et de permettre ainsi de renforcer son identité visuelle et de procurer un sentiment de confiance à l'utilisateur. Il est chargé :

De cibler les besoins de l’entreprise en prenant en compte l’image institutionnelle, l’objectif marketing et les moyens techniques et financiers.
D’établir la charte graphique et l'identité visuelle du site web.
De réaliser la maquette : choisir la place des photos, la taille des caractères, les couleurs.
De concevoir les illustrations, les animations, les typographies.
De respecter les contraintes ergonomiques définies lors de la création du projet.
D’assurer le suivi et la mise à jour de tous les éléments graphiques.
Dans certains cas, de chercher à développer la fréquentation du site web par les techniques de référencement.</p>
      <h2>Domaine et périmètre d'intervention</h2>

<p>Le webdesigner intervient dans les domaines indirectement liés au contenu éditorial en s’appuyant sur le cahier des charges et les spécificités créatives délivrées par le directeur artistique. Il travaille sous la responsabilité du directeur artistique et du chef de projet lors d'une création.</p>

<h3>Indépendant ou salarié :</h3>

<p>Le webdesigner peut travailler comme indépendant. Il bénéficie alors d'une grande liberté. Il peut également travailler dans une agence Web spécialisée en communication d'entreprise ou en publicité, dans un studio multimédia ou d'animation Flash, une maison d'édition multimédia en ligne, le service de communication ou de publicité d'une entreprise.</p>

<h3>Toujours en équipe :</h3>
<p>
  En étroite collaboration avec le client et le chef de projet qui valident sa charte graphique, il supervise directement, pendant la phase de réalisation du site, le travail des infographistes et parfois celui des intégrateurs multimédias, et doit souvent arbitrer- en fonction des contraintes techniques - entre l'artistique et le fonctionnel. </p>

<p>Il travaille en partenariat avec les équipes éditoriales et artistiques de la chaîne de production. Il collabore également avec l'auteur, le réalisateur, le directeur artistique et l’équipe de recherche et développement.</p>
    </article>
    <div class="sidebar">
      <header class="top">
        <h3>Actualités</h3>
        <nav>
          <li>
            <div class="left"><img src="media/picnav.png" alt=""></div>
            <div class="right">
              <h4>UX Designer</h4>
            </div>
          </li>
          <li>
            <div class="left"><img src="media/picnav.png" alt=""></div>
            <div class="right">
              <h4>Simplo</h4>
            </div>
          </li>
          <li>
            <div class="left"><img src="media/picnav.png" alt=""></div>
            <div class="right">
              <h4>HETIC</h4>
            </div>
          </li>
        </nav>
      </header>
    </div>
  </div>
</div>

{% endblock %}
