{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "bg-header.jpg" %}
{% set text_header = "La grande école du numérique" %}
{% set span_header = "des formations gratuites et accessibles à tous" %}

{% extends "template.html" %}

{% block y %}

<div class="main home">
  <div class="wrap">
    <div class="column-left">
      <article style="background-image: url('media/step1.jpg');" class="step">
        <div class="meta left">
          <h2>Découvrir le web</h2>
          <p>Apprends-en davantage sur le fonctionnement et les acteurs du web</p>
        </div>
      </article>
      <article style="background-image: url('media/step2.jpg');" class="step">
        <div class="meta right">
          <h2>La mission de la GEN</h2>
          <p>La France au coeur de la révolution numérique</p>
        </div>
      </article>
    </div>
    <div class="column-right">
      <aside class="news">
        <header class="top">
          <h3>Actualités</h3>
        </header>
        <article>
          <h4>06 Novembre 2015</h4>
          <hr align="left">
          <p>la french tech au web summit 2015</p>
        </article>
      </aside>
    </div>
  </div>
</div>

{% endblock %}
