{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "bg-header.jpg" %}
{% set text_header = "La grande école du numérique" %}
{% set span_header = "des formations gratuites et accessibles à tous" %}

{% extends "template.html" %}

{% block y %}

<div class="main home">
  <div class="wrap">
    <div class="column-left">
      <article style="background-image: url('media/step1.jpg');" class="step">
        <div class="meta left">
          <h2>Découvrir le web</h2>
          <p>Apprends-en davantage sur le fonctionnement et les acteurs du web</p>
        </div>
      </article>
      <article style="background-image: url('media/step2.jpg');" class="step">
        <div class="meta right">
          <h2>La mission de la GEN</h2>
          <p>La France au coeur de la révolution numérique</p>
        </div>
      </article>
    </div>
    <div class="column-right">
      <aside class="news">
        <header class="top">
          <h3>Actualités</h3>
        </header>
        <article>
          <h4>06 Novembre 2015</h4>
          <hr align="left">
          <p>La French Tech au Web Summit 2015</p>
        </article>
      </aside>
    </div>
  </div>
</div>

<div class="main home">
  <div class="wrap">
    <article class="dossier">
      <div class="pictures" style="background-image: url('media/snapchat.png');">
        <div class="dos">Dossier</div>
      </div>
      <div class="description">
        <h2><span>Snapchat,</span> ça marche comment ?</h2>
        <p>Plongez-vous dans les différentes phases de conception de l'application, comprenez son fonctionnement et découvrez les métiers qui y jouent un rôle.</p>
        <a href="snapchat.html" class="btn blue">En savoir +</a>
      </div>
    </article>
  </div>
</div>

{% endblock %}
