{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "hero-label.jpg" %}
{% set text_header = "Pourquoi labelliser votre formation ?" %}
{% set span_header = "Des avantages et une reconnaissance nationale à la clé" %}

{% extends "template.html" %}

{% block y %}

<div class="main label">
  <div class="wrap">
    <div class="header">
		<h2 class="no-left-border">Dispositif de labellisation</h2>

		<hr>

		<p>La Grande École du numérique a pour objectif de répondre aux besoins d’emplois dans le secteur du numérique et de favoriser l’insertion sociale et professionnelle des jeunes - en particulier de ceux qui ne suivent pas de formation et n’occupent pas d’emploi - et plus largement de tous les publics en reconversion.</p>
		<p>Pour cela, la Grande École du numérique vise à structurer sur l’ensemble du territoire national une offre de formations, « les fabriques du numérique », permettant la diversification des publics concernés et renouvelant les approches pédagogiques. Elle a pour objectif la reconnaissance de ces formations par une certification ainsi que l’adaptation de ces formations aux besoins d’un secteur d’activité en mutation permanente.</p>
   	</div>
	
	<article>
		<i class="icon expand"></i><h3>Quels bénéfices une formation peut-elle attendre du label "Grande &Eacute;cole du Numérique" ?</h3><div class="clearfix"></div>
		<p>Le label "Grande &Eacute;cole du Numérique" est avan tout un gage de qualité. Il vous offre la reconnaissance de votre formation par l'Etat et certifie que les étudiants ayant complété votre programme en sortent compétents et opérationnels vis-à-vis du monde professionnel. Votre école est mise en avant sur notre site, ce qui vous fait gagner en visibilité. Outre cela, nous vous fournissons des aides financières pour compenser la gratuité de l'inscription à la formation par les étudiants.</p>
	</article>
	
	<article>
		<i class="icon expand"></i><h3>Critères de labellisation "Fabriques du numériques"</h3><div class="clearfix"></div>
		<p>Vos formations doivent être accessibles à une population large, avec le moins de prérequis possibles. Le point d'orgue doit être mis sur la motivation plutôt que les compétences déjà acquises. Par ailleurs, la formation doit durer entre 12 et 24 mois. Les critères de labellisation sont disponibles dans le cahier des charges disponible ci-après. Pour postuler, rien de plus simple : envoyez un mail à labellisation@grande-ecole-numerique.gouv.fr avec les informations requises. Un formulaire sera bientôt mis en place pour rendre le processus plus intuitif.</p>
	</article>
	
	<article>
		<i class="icon expand"></i><h3>Documents à télécharger</h3><div class="clearfix"></div>
		<p><a href="http://www.experimentation.jeunes.gouv.fr/IMG/pdf/Cahier_des_charges_APGEN.pdf">Cahier des charges pour la labellisation des formations</a></p>
	</article>
	
  </div>
</div>

<script>
	$('article p').hide();
	
	$('h3').click (function() {
		if ($(this).siblings('i').hasClass('expand'))
		{
			$(this).siblings('p').slideDown(); $(this).siblings('i').removeClass('expand').addClass('contract');
		}
		else
		{
			$(this).siblings('p').slideUp(); $(this).siblings('i').removeClass('contract').addClass('expand');
		}
	});
	
</script>

{% endblock %}
