{% extends "dashboard.html" %}

{% block y %}

<div class="search-bar">
  <input type="text">
</div>
<h1>Créer un CV</h1>

<form action="#" class="offers">
  <h2>Informations personnelles</h2>
  
  <p>Veuiller renseigner vos informations de bases</p>

    <label for=""><span>Nom</span><input type="text"></label>
    <label for=""><span>Prenom</span><input type="text"></label>
    <label for=""><span>Date de naissance</span><input type="text"></label>
    <label for=""><span>Sexe</span><input type="text"></label>
</form>


{% endblock %}