{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "hero-parcourir-metiers.jpg" %}
{% set text_header = "Les métiers du numérique" %}
{% set span_header = "Trouve celui qui te correspond" %}

{% extends "template.html" %}

{% block y %}


<div class="main parcourir-metiers">
	
	<div class="wrap">
		<h3>Choisissez un ou plusieurs domaine(s)</h3>
		
		<ul class="filters">
			<li data-group="communication"><a href="#" >Communication &amp; marketing</a></li>
			<li data-group="dev"><a href="#">Programmation &amp; développement</a></li>
			<li data-group="assist"><a href="#">Formation &amp; assistance</a></li>
			<li data-group="conception"><a href="#">Conception &amp; gestion de projet</a></li>
			<li data-group="infrastructure"><a href="#">Infrastructure &amp; réseau</a></li>
			<li data-group="content"><a href="#">Production &amp; gestion de contenu</a></li>
			<li data-group="ui"><a href="#" >Interfaces &amp; création numérique</a></li>
		</ul>
	</div>

	<div class="wrap">
		
		<ul class="jobs">
			{% for counter in [['communication','ui'], ['communication','content'], ['communication','ui'], ['communication','ui'], ['communication','ui'], ['communication'], ['ui'], ['communication']] %}
			<li data-groups="{{counter}}">
				<div class="inner-wrap">
					<h4>Développeur front</h4>
					<hr>
					<p>Sa mission est de rendre les sites Internet ergonomiques et accessibles pour les internautes en développant une interface claire, rapide et facile à utiliser.</p>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	
</div>

<script type="text/javascript" src="https://rawgit.com/Vestride/Shuffle/master/dist/modernizr.custom.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/Vestride/Shuffle/master/dist/jquery.shuffle.min.js"></script>

<script>
	$('.filters li a').click(function() {
		$(this).parent().toggleClass('active');
		
		var filters = [];
		$('li.active').each(function(){
			filters.push($(this).data('group'));
		});
		console.log(filters);
		
		$('.jobs').shuffle( 'shuffle', function($el) {
			var groups =  $el.data('groups').split(',');
			for (var i = 0; i < groups.length; i++)
			{
				for (var j = 0 ; j < filters.length ; j++)
				{
					if (filters[j] == groups[i]) return true;
				}
			}
			console.log('groups : ', groups);
			console.log('not found');
			return false;
      	});
	
		/*$('.jobs li').each(function(){
			if (Math.random()<0.5) $(this).fadeIn(); else $(this).fadeOut();
		});*/
		return true == false;
	});
	
	$('.jobs').shuffle({
		delimiter: ',',
		itemSelector: 'li' // the selector for the items in the grid
    });
	$('.jobs').shuffle('shuffle','x');
	

   
</script>

{% endblock %}
