{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "hero-parcourir-metiers.jpg" %}
{% set text_header = "Les métiers du numérique" %}
{% set span_header = "Trouve celui qui te correspond" %}

{% extends "template.html" %}

{% block y %}

<div class="main parcourir-metiers">
	
	<div class="wrap">
		<h3>Choisissez un ou plusieurs domaine(s)</h3>
		
		<ul class="filters">
			<li>Communication &amp; marketing</li>
			<li>Programmation &amp; développement</li>
			<li>Formation &amp; assistance</li>
			<li>Conception &amp; gestion de projet</li>
			<li>Infrastructure &amp; réseau</li>
			<li>Production &amp; gestion de contenu</li>
			<li>Interfaces &amp; création numérique</li>
		</ul>
	</div>

	<div class="wrap">
		
		<ul class="jobs">
			{% for counter in [0,0,0,0,0,0] %}
			<li>
				<div class="inner-wrap">
					<h4>Développeur front</h4>
					<hr>
					<p>Sa mission est de rendre les sites Internet ergonomiques et accessibles pour les internautes en développant une interface claire, rapide et facile à utiliser.</p>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	
</div>

<script>
	$('.filters li').click(function() {
		$(this).toggleClass('active');
	});
</script>

{% endblock %}
