{% extends "template.html" %}
{% set no_hero = true %}

{% block y %}

<div class="main searchpage">
  <h1>résultat de votre recherche</h1>
  <div class="metainfo">
    <h2>99 resultats</h2>
    <p>pour la recherche: <span class="words">école</span></p>
  </div>
  <div class="results">
    <article>
      <div class="metadata">
        <h4>Publié le 30/11/2015</h4>
        <h2>Hetic obtient son label et ouvre le bal des formations de la gen</h2>
        <div class="cat">
          Rubriques:
          <nav>
            <li>actualités</li>
          </nav>
        </div>
      </div>
      <p>HETIC devient la première <span>école</span> à obtenir son label GEN et poursuit son envie devenir l’une des plus grandes...</p>
    </article>
    <article>
      <div class="metadata">
        <h4>Publié le 30/11/2015</h4>
        <h2>Hetic obtient son label et ouvre le bal des formations de la gen</h2>
        <div class="cat">
          Rubriques:
          <nav>
            <li>actualités</li>
          </nav>
        </div>
      </div>
      <p>HETIC devient la première <span>école</span> à obtenir son label GEN et poursuit son envie devenir l’une des plus grandes...</p>
    </article>
    <article>
      <div class="metadata">
        <h4>Publié le 30/11/2015</h4>
        <h2>Hetic obtient son label et ouvre le bal des formations de la gen</h2>
        <div class="cat">
          Rubriques:
          <nav>
            <li>actualités</li>
          </nav>
        </div>
      </div>
      <p>HETIC devient la première <span>école</span> à obtenir son label GEN et poursuit son envie devenir l’une des plus grandes...</p>
    </article>
  </div>
</div>


{% endblock %}