{% set hide_topbar = true %}
{% set catch_button = false %}
{% set bg_header = "hero-snapchat.jpg" %}
{% set text_header = "Au cœur de Snapchat" %}
{% set span_header = "Les rôles clés dans la conception et le fonctionnement de l'application" %}

{% extends "template.html" %}

{% block y %}

<div class="main snapchat">

	 <div class="header">
		<p>Comment fonctionne Snapchat ?</p>
		<nav class="snapchat-nav">
			<div class="done"></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</nav>
	 </div>
 
	<div class="wrap slides">
		<div class="slides-inner">
			<div class="slide slide1">
					<div class="wrap">
						<div class="left"></div>

						<div class="right text-side">
							<h2>Le centre névralgique de l'application</h2>
							<p>Lorsque vous lancez Snapchat, l’application va vérifier votre nom d’utilisateur et votre mot de passe, puis va récupérer les différents Snap depuis le serveur. C’est là le rôle du développeur. Il va programmer l’application pour mettre en place le fonctionnement de l’application et s’assurer que les bonnes informations sont envoyées.</p>

							<h4>Découvrez les métiers...</h4>

								<ul class="jobs">
									<li>
										<div class="inner-wrap">
											<h4>Développeur back-end</h4>
											<hr>
											<p>Sa mission est de s'occuper du côté technique de l'application.</p>
										</div>
									</li>
								</ul>
						</div>
					</div>
			</div><!--

			--><div class="slide slide2">
					<div class="wrap">
						<div class="left text-side">
							<h2>Se mettre à la place de l'utilisateur</h2>
							<p>Pour que l’application soit facile à prendre en main et simple d’utilisation, il a fallu lors de sa conception réfléchir au parcours de l’utilisateur sur le site ; se mettre à sa place pour prendre les décisions de conception les plus logiques et compréhensibles. C’est le rôle du UX designer (UX pour User Experience, expérience utilisateur).</p>

							<h4>Découvrez les métiers...</h4>

								<ul class="jobs">
									<li>
										<div class="inner-wrap">
											<h4>UX Designer</h4>
											<hr>
											<p>Le designer UX (design de l’expérience utilisateur) a pour objectif de rendre le site intuitif et facile à prendre en main.</p>
										</div>
									</li>
								</ul>
						</div>
						
						
						<div class="right"></div>
					</div>
			</div><!--

			--><div class="slide slide3">
					<div class="wrap">
						<div class="left"></div>
					
						<div class="right text-side">
							<h2>Rendre l'application belle</h2>
							<p>Une fois que l’on a bien défini le parcours, c’est au tour du designer d’interface, ou UI designer, d’ajouter les couleurs, de faire les maquettes au propre. Il s’assure que l’application soit plaisante esthétiquement et soit agréable à utiliser. Bref, que l’application soit belle, et en jette !</p>

							<h4>Découvrez les métiers...</h4>

								<ul class="jobs">
									<li>
										<div class="inner-wrap">
											<h4>UI Designer</h4>
											<hr>
											<p>Le designer UI (design de l’interface utilisateur) est en charge de la conception générale de l’interface, principalement au niveau graphique et visuel.</p>
										</div>
									</li>
								</ul>
						</div>
					</div>
				</div><!--

			--><div class="slide slide4">
					<div class="wrap">
						<div class="left text-side">
							<h2>Un trafic conséquent</h2>
							<p>Plus de 700 millions de photos et vidéos sont échangées sur Snapchat chaque jour. Pour s’assurer que le service fonctionne correctement malgré ce trafic colossal, il faut tout d’abord que le développeur web ait produit un code efficace et rapide à éxecuter. Ensuite, c’est au tour de l’administrateur réseau de choisir des machines et solutions plus ou moins puissantes, adaptées à la quantité d’informations qui transite. Il se protège d’éventuelles attaques sur les serveurs et s’assure qu’il y ait des solutions de secours au cas où un serveur tombe en panne.</p>

							<h4>Découvrez les métiers...</h4>

								<ul class="jobs">
									<li>
										<div class="inner-wrap">
											<h4>Administrateur réseau</h4>
											<hr>
											<p>Il s'occupe des machines et serveurs sur lesquels fonctionnent l'application. Il s'assure qu'ils tiennent la charge et sont assez puissants.</p>
										</div>
									</li>
								</ul>
						</div>
						
						
						<div class="right"></div>
					</div>
			</div><!--

			--><div class="slide slide5">
					<div class="wrap">
						<div class="left"></div>
					
						<div class="right text-side">
							<h2>Le community manager</h2>
							<p>Pendant ce temps-là, sur les réseaux sociaux, Snapchat nous tient au courant des dernières actualités et vient discuter et répondre aux questions et aux remarques des utilisateurs. L’auteur de ces publications n’est autre que le Community Manager (CM) ! Il représente le lien entre les équipes de Snapchat et les utilisateurs, et fait en sorteque ces derniers soient écoutés.</p>

							<h4>Découvrez les métiers...</h4>

								<ul class="jobs">
									<li>
										<div class="inner-wrap">
											<h4>Community manager</h4>
											<hr>
											<p>Il communique en permanence avec les utilisateurs de l'application et s'assure que leurs voix soient entendues.</p>
										</div>
									</li>
								</ul>
						</div>
					</div>
				</div><!--

			--><div class="slide slide6">
					<div class="wrap">
						<div class="left text-side">
							<h2>Tout est parti d'une idée...</h2>
							<p>Et, bien sûr, tout cela n’aurait pas vu le jour sans Evan Spiegal et Bobby Murphy, deux étudiants qui ont lancé Snapchat lorsqu’ils avaient respectivement 22 et 24 ans. Ensemble, ils ont imaginé le concept de l’application, ont développé les premiers protoypes et ont pris les grandes décisions : offres de rachat, choix de la cible, de la technique marketing, etc. Si vous aussi vous débordez d’idées et avez un sens de l’ambition, pourquoi pas devenir entrepreneur ?</p>

							<h4>Découvrez les métiers...</h4>

								<ul class="jobs">
									<li>
										<div class="inner-wrap">
											<h4>Entrepreneur</h4>
											<hr>
											<p>Avec son sens des affaires et sa persévérance, il voit son projet se construire peu à peu et accompagne ses équipes.</p>
										</div>
									</li>
								</ul>
						</div>
						
						
						<div class="right"></div>
					</div>
			</div>
						
						
						
					
			</div>
		</div>
	</div>
</div>

<script>
$('.snapchat-nav div').click(function() {
	$(this).prevAll().andSelf().addClass('done');
	$(this).nextAll().removeClass('done');
	
	$('.slides-inner').css('transform','translateX(-' + (100 * $(this).prevAll().length) + '%)'); 

});

document.onkeydown = checkKey;

function checkKey(e) {

    e = e || window.event;

    if (e.keyCode == '38') {
        // up arrow
    }
    else if (e.keyCode == '40') {
        // down arrow
    }
    else if (e.keyCode == '37') {
       $('.snapchat-nav div.done').last().prev().click();
    }
    else if (e.keyCode == '39') {
       $('.snapchat-nav div.done').last().next().click();
    }

}
	
</script>


{% endblock %}
