{% set hide_topbar = true %}
{% set no_hero = true %}
{% set catch_button = false %}
{% set bg_header = "hero-snapchat.jpg" %}
{% set text_header = "Au cœur de Snapchat" %}
{% set span_header = "Les rôles clés dans la conception et le fonctionnement de l'application" %}

{% extends "template.html" %}

{% block y %}

<div class="main web">

	 <div class="header">
		<p>À la découverte du web</p>
		<nav class="web-nav">
			<div class="done"></div>
			<div></div>
			<div></div>
			<div></div>
		</nav>
	 </div>
 
	<div class="wrap slides">
		<div class="slides-inner">
			<div class="slide slide1">
					<div class="wrap">
						<div class="left" style="background-image: url(media/valeurs.jpg)"></div>

						<div class="right text-side">
							<h2>Les valeurs du web</h2>
							<p>
								Le Web est né dans la culture du partage. Ce sont les projets open-source et collaboratifs qui ont fait naître le web, et qui le maintiennent toujours en vie... et ce, quelle que soit l'échelle de l'initiative, du projet au nombre de collaborateurs initialement restreint (GNU/Linux), jusqu'aux sites Internet auxquels tout le monde peut contribuer avec facilité (Wikipedia).
								<br><br>
								Dans le Web, espace de partage, tout le monde construit sur les fondations posées par ses pairs. C'est là un second aspect primordial dans le web : le fait de bâtir un projet, de réaliser ses rêves, seul ou son équipe, et avec le soutien de la Toile. Un site Internet, c'est un travail accompli, un produit fini que l'on peut exposer publiquement, que tout le monde peut utiliser.
								<br><br>
								Le Web est enfin, et surtout, un medium. Expériences interactives, webdocumentaires, jeux, campagnes sociales : les messages à passer peuvent différent tant par le fond que par la forme. Libre à vous donc de combiner votre passion pour le Web avec vos autres centres d'intérêts et de construire ainsi la prochaine plateforme qui révolutionnera son domaine !
							</p>

							
							<a href="#" class="next"></a>
								
						</div>
					</div>
			</div><!--

			--><div class="slide slide2">
					<div class="wrap">
						<div class="left text-side">
							<h2>Un parcours dans le Web</h2>
							<p>Né à Marseille le 9 août 1962, Jacques-Antoine Granjon (JAG) grandit à Paris dans le 16e arrondissement puis, après avoir obtenu son baccalauréat du second coup, entreprend des études à l'European Business School (EBS). Fêtard, il écume les boîtes de nuit.<br><br>

JAG connaît des débuts difficiles sur la toile. En 2000, il prend 20% du capital de Just Trade It, une plate-forme Internet de mise en relation entre marques et soldeurs, et y investit un million de francs. Six mois plus tard, la start-up fait faillite.<br><br>

Quelques mois plus tard, Jacques-Antoine Granjon imagine un concept de déstockage en ligne avec des ventes flash. En janvier 2001, avec sept associés, il lance <strong>Vente-privee.com</strong> en France. Les débuts sont laborieux. Pendant plusieurs années, les pertes sont colossales. Petit à petit pourtant, sa popularité grandit et, bientôt, son chiffre d'affaires explose. De 20 millions d'euros en 2004, il passe à 680 millions en 2009 et à près d'un milliards d'euros en 2010.<br><br>

Vente-privee s'attaque peu à peu à de nouveaux secteurs. Vêtements, chaussures, voyages, bouteilles de vins, places de concerts ou de théâtre... Le site devient le fleuron du déstockage sur Internet. Il s'attaque au marché européen à partir de 2006, puis américain en 2012 grâce à une association avec American Express. En 2012, le chiffre d'affaires passe les 1,3 milliard d'euros. Vente-Privee compte plus de 1 800 salariés et est devenu l'un des plus gros employeurs de Seine-Saint-Denis. A 49 ans, JAG est aujourd'hui un patron au succès incontestable.
							
							</p>

								<a href="#" class="prev"></a>
								<a href="#" class="next"></a>
						</div>
						
						
						<div class="right"  style="background-image: url(media/granjon.jpg)"></div>
					</div>
			</div><!--

			--><div class="slide slide3">
					<div class="wrap">
						<div class="left"  style="background-image: url(media/enjeux.jpg)"></div>
					
						<div class="right text-side">
							<h2>Enjeux</h2>
							<p>Internet, c'est plus de 3 milliards d'internautes, soit 42% de la population mondiale ! On passe en moyenne 6 heures par jour sur Internet, dont 2 heures via mobile.<br><br>
							
								Les usages évoluent : le mobile connaît une croissance phénoménale et a ouvert dans les dernières années un marché colossal.
							
								<br><br>
								Pendant que le nombre d’utilisateurs d’Internet augmente de jour en jour, les objets connectés multiplient également leurs occurrences dans notre quotidien : du téléphone à la voiture, en passant par la maison et tout ce qui s’y trouve, Internet intègre de plus en plus la vie des gens. D'ici 2010, les objets connectés à Internet seraient au nombre de 80 milliards selon les chiffres de l'Idateles ; 30 milliards selon le Cabinet Gartner, plus de 200 milliards selon l’IDC !</p>

							
								
								<a href="#" class="prev"></a>
								<a href="#" class="next"></a>
						</div>
					</div>
				</div><!--

			--><div class="slide slide4">
					<div class="wrap">
						<div class="left text-side">
							<h2>Un marché en pleine expansion</h2>
							<p>
								 Internet est devenu un outil incontournable pour gagner en visibilité. Toutefois, plus d'une entreprise sur deux ne dispose toujours pas de site Internet. Face à la numérisation croissante de l'information, les besoins des entreprises se font savoir. Elles sont ainsi très nombreuses à chercher des étudiants formés qui soient à même de construire leur site web.
								 <br><br>
								 Au-delà du simple site-vitrine, Internet représente une opportunité sans précédent pour les nouvelles entreprises et startups souhaitant se lancer dans une activité sur la Toile. Le mobile devenant peu à peu omniprésent, les entreprises se ruent sur cette opportunité mais doivent faire face à une pénurie de personnes formées aux métiers du web.
								
							</p>

								<a href="#" class="prev"></a>
								<a href="snapchat.html" class="next goto_snapchat"></a> <!-- découvrir snapchat -->
						</div>
						
						
						<div class="right"  style="background-image: url(media/marche.jpg)"></div>
					</div>
			</div>
						
						
					
		</div>
	</div>
</div>

<script>
$('.web-nav div').click(function() {
	$(this).prevAll().andSelf().addClass('done');
	$(this).nextAll().removeClass('done');
	
	$('.slides-inner').css('transform','translateX(-' + (100 * $(this).prevAll().length) + '%)'); 

});

document.onkeydown = checkKey;

function checkKey(e) {

    e = e || window.event;

    if (e.keyCode == '38') {
        // up arrow
    }
    else if (e.keyCode == '40') {
        // down arrow
    }
    else if (e.keyCode == '37') {
       $('.web-nav div.done').last().prev().click();
    }
    else if (e.keyCode == '39') {
       $('.web-nav div.done').last().next().click();
    }

}
	
$('.prev').click(function() { $('.web-nav div.done').last().prev().click(); return false; });
$('.next:not(.goto_snapchat)').click(function() { $('.web-nav div.done').last().next().click(); return false; });
	
</script>


{% endblock %}
