<footer class="footer">
  <header class="head-foot">
    <div class="wrap">
      <h4>Les partenaires</h4>
      <hr>
      <p>Nous remercions nos partenaires</p>
    </div>
  </header>
  <footer class="foot-foot">
    <div class="wrap">
      <div class="logo-footer-container">
        <img src="media/logo_gen.png" alt="Logo" class="logo-footer">
      </div>
      <aside>
        <nav>
          <li><a href="#">charte d’utilisation</a></li>
          <li><a href="#">qui sommes-nous</a></li>
          <li><a href="#">frequently asked questions</a></li>
        </nav>
        <nav>
          <li><a href="#">devenir partenaires</a></li>
          <li><a href="#">se faire labelliser</a></li>
          <li><a href="#">partenariats</a></li>
        </nav>
        <nav>
          <li><a href="#">mentions légales</a></li>
          <li><a href="#">école du numérique</a></li>
          <li><a href="#">designed by groupe 03</a></li>
        </nav>
      </aside>
    </div>
  </footer>
</footer>

</body>
</html>