<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AO1</title>

  <link rel="stylesheet" href="css/app.css">
</head>
<body class="{{bodyClass}}">

{% if not hide_topbar %}
top
{% endif %}

<header class="header">
  <div class="left">
    <div class="menu-burger">
      <a href="#" class="menu-burger-icon">
        <i class="burger"></i>
      </a>
    </div>

    <div class="search">
      <i class="search"></i>
    </div>
    
    <nav class="navigation">
      <li><a href="#"><i></i><span>Étudiant</span></a></li>
      <li><a href="#"><i></i><span>Entreprises</span></a></li>
      <li><a href="#"><i></i><span>Formation</span></a></li>
    </nav>
  </div>

  <div class="logo">
    <img src="media/logo.png" alt="Logo">
  </div>

  <div class="right">
    <div class="login"></div>
  </div>
</header>


<header class="hero" style="background-image: url('media/{{bg_header}}');">
  <div class="title">
    <h1>{{text_header}} <span>{{span_header}}</span></h1>
  </div>
  {% if catch_button %}
  <div class="catch-button">
    <a href="#" class="btn">découvrir les métiers<i class="icon ordi"></i></a><a href="#" class="btn fill white">localiser une formation<i class="icon place"></i></a>
  </div>
  {% endif %}
</header>