/*
    Variable Color
 */

$color-font-normal: #000;
$color-bg: #f7f7f7;

$bleu-main: rgb(11, 107, 168);
$bleu-clair: rgb(85, 172, 238);
$bleu-fonce: rgb(41, 128, 185);

$gris-clair: rgb(189, 195, 199);
$gris-semi-fonce: rgb(127, 140, 141);
$noir: rgb(189, 195, 199);