/*
    Font Configuration
 */

$font-normal-size: 1em;
$font-family-title: "Open Sans";

h1, h2{
  position: relative;
  text-align: left;
  &:before{
    content: "";
    position: absolute;
    left: -20px; top:0px; bottom:0px;
    width:2px; height: 100%;
    background-color: $bleu-main;
  }
}

h1{
  color:  #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  span{
    font-weight: 700;
    display: block;
  }
}

h2{
  font-size: 21px;
  font-weight: 700;
}

h4{
  font-family: OpenSans;
  color:  #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

p{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}