/* NOT USED. ELEMENTS/_ICONS IS USED INSTEAD */

i{
  background-color: red;
  &.icon{
    height: 15px;
    display: inline-block;
    &.ordi{
      background-image: url("../media/computer.svg");
      background-color: red;
      width: 12px;
    }
	&.expand {
	  background-image: url("../media/expand.png");
	  width: 18px; height: 18px;
	}
	&.contract {
	  background-image: url("../media/contract.png");
	  width: 18px; height: 18px;
	}
  }
}