.btn{
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  color:#fff;
  cursor:pointer;
  &.fill{
    &.white{
      background-color: #fff;
      color: $bleu-main;
    }
  }
  &.blue{
    font-family: Lato;
    color:  #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border-width: 2px;
    border-color:  #0b6ba8;
    border-style: solid;
  }
  &.submit{
    background-color:  #3da3d7;
    color: #fff;
    height: auto;
  }
}