.fiche{
  .wrap{
    display: flex;
    flex-direction:row;
    width: 100%;
    article{
      width: 1100px;
      padding-left: 100px;
      padding-top: 110px;
      border-right: 1px solid #f7f7f7;
    }
  }
  header.infos{
    width: 1100px; height: 126px;
    display: flex;
    flex-direction:row;
    align-item:center;
    justify-content: center;
    border-bottom: 1px solid #f7f7f7;
    .info{
      display: flex;
      flex-direction:column;
      align-item:center;
      justify-content: center;
      width: 25%;
      border-right: 1px solid #f7f7f7;
      cursor:pointer;
    }
  }
  .sidebar{
    width: 200px;
    margin-left: 70px;
    h3{
      color:  #0b6ba8;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  nav{
    li{
      display: flex;
      flex-direction:row;
      align-item:center;
      border: 1px solid #f7f7f7;
      margin-top: 5px;
      margin-bottom: 5px;
      cursor:pointer;
      &:hover{
        background-color: $bleu-main;
        h4{
          color:#fff;
        }
      }
      .right{
        width: 100%;
      }
      img{
        vertical-align: middle;
      }
      h4{
        color:  #000000;
        font-size: 12px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        line-height: 56px;
      }
    }
  }
}

@media all and (max-width: 1024px)
{
    .fiche{
      .wrap{
        width: 100%;
        padding: 0 20px;
        flex-direction:column;
        article{
          width: 100%;
        }
      }
      header.infos{
        width: 100%;
      }
    }
}