footer.footer{
  text-align: left;
  .wrap{
    flex-direction:column;
    width: 1100px;
    margin: 0 auto;
  }
  h4{
    text-align: left;
    margin-top: 50px;
    color: $bleu-main;
    text-transform: uppercase;
  }
  p{
    font-family: OpenSans;
    color: $bleu-main;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }
  .head-foot{
    height: 171px;
    display: flex;
    background-color: #fff;
    hr{
      background-color:  $bleu-main;
      width: 21px;
      height: 3px;
      display: inline-block;
      margin-top: 14px;
    }
  }
  .foot-foot{
    width: 100%;
    height: 192px;
    padding-top: 78px;
    .wrap{
      display: flex;
      flex-direction:row;
      align-item:center;
      justify-content: center;
    }
    .logo-footer-container{
    }
    .logo-footer{
      width: 268px;
    }
    aside{
      display: flex;
      margin-left: 50px;
    }
    nav{
      width: 200px;
      li{
        list-style-type: none;
        a{
          color:$bleu-clair;
          text-transform: uppercase;
          font-size: 10px;/* Approximation causée par une substitution de police */
          font-weight: 700;
          text-align: left;
        }
      }
    }
  }
}