.main-dash{
  width: 990px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 58px;
  padding-bottom: 42px;
  margin-bottom: 57px;
  h1{
    font-family: OpenSans;
    color:  #3d4750;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 90px;
    &:before{
      content: none;
    }
  }
}

form.offers {
  width: 900px;
  margin:0 auto;
  h2{
    font-family: OpenSans;
    color:  #000000;
    font-size: 21px;
    font-weight: 700;
    text-align: left;
    &:before{
      content: none;
    }
    &:after{
      content: "";
      background-color:  #0b6ba8;
      width: 26px;
      height: 3px;
      display: block;
      margin-top: 11px;
      margin-bottom: 20px;
    }
  }
  p{
    font-family: OpenSans;
    color:  #000000;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 26px;
  }
  input {
    border-radius: 3px;
    border-width: 0.7px;
    border-color:  #3d4750;
    border-style: solid;
    background-color:  #f7f7f7;
    width: 376px;
    height: 30px;
  }
  label{
    display: block;
    margin-bottom: 20px;
    input{
      width: 70%;
      outline: none;
    }
    span{
      width:30%;
      display: inline-block;
      text-align: left;
      font-family: OpenSans;
      color:  #000000;
      font-size: 12px;/* Approximation causée par une substitution de police */
      font-weight: 700;
      padding-right: 20px;
    }
  }
}