header.header{
  background-color: #fff;
  width: 100%; height: 46px;
  display: flex;
  align-items: center;
  .left, .right, .logo{
    width: calc(100%/3);
  }
  .left{
    display: flex;
    align-items: center;
  }
  .menu-burger{
    background-color: red;
    width: 46px; height: 46px;
  }
  .search{
    width: 46px; height: 46px;
    background-color: $gris-semi-fonce;
  }
  .logo{
    margin: 0 auto;
    text-align: center;
  }
  nav.navigation{
    margin-left: 20px;
    li{
      display: inline-block;
    }
  }
}

header.hero{
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction:column;
  align-item:center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  &:before{
    position: absolute;
    content: "";
    top: 0; left:0; right:0; bottom:0;
    background-color: rgba(#000, 0.5);
  }
  .title, .catch-button{
    display: flex;
    align-item:center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
  }
  .catch-button{
    z-index: 1000;
    margin-top: 20px;
  }
}

aside {
  header{
    &.top{
      height: 53px;
      background-color: $bleu-main;
      line-height: 53px;
      padding-left: 45px;
      font-weight: 600;
      h3{
        color:#fff;
      }
    }
  }
}