i{
  &.icon{
    height: 15px;
    display: inline-block;
    &.ordi{
      background-image: url("media/computer.svg");
      background-color: red;
      width: 11px;
    }
    &.place{

    }
	&.expand {
	  background-image: url("../media/expand.png");
	  width: 18px; height: 18px;
		cursor: pointer;
	}
	&.contract {
	  background-image: url("../media/contract.png");
	  width: 18px; height: 18px;
		cursor: pointer;
	}
  }
}