@import "reset";
@import "conf/color";
@import "conf/font";
@import "elements/button";
@import "elements/header";
@import "elements/footer";
@import "elements/icon";
@import "elements/aside";
@import "elements/fiche";
@import "elements/form";

.clearfix { clear: both; }

body {
	color: $color-font-normal;
	background-color: $color-bg;
	font-family: $font-family-title;
	&.white {
		background-color: #fff;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

hr {
	border: inherit;
}


.main.home {
	// margin-top: 40px;
	padding: 80px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	.wrap {
		/*width:1270px;*/
		margin: 0 auto;
		display: flex;
		padding: 80px;
		.column-left {
			width: 912px;
			width: 75%;
		}
		.column-right {
			width: 336px;
			width: 25%;
			margin-left: 24px;
		}
	}
	article.step {
		background-size: cover;
		background-position: center center;
		height: 354px;
		position: relative;
		margin-bottom: 43px;
		.meta {
			background-color: #fff;
			position: absolute;
			height: 120px;
			left: 0;
			right: 409px;
			bottom: 0;
			padding-left: 47px;
			padding-top: 30px;
			width: 350px;
			&.right {
				right: 0;
				left: auto;
			}
			h2 {
				margin-bottom: 20px;
				&:before {
					background-color: $bleu-clair;
				}
			}
			p {
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
				width: 90%;
			}
		}
	}
	article.dossier{
		position: relative;
		width: 100%; height: 407px;
		.pictures{
			width: 55%;
			height: 327px;
			background-size: cover;
			position: absolute;
			top: 0; left:0;
			.dos{
				position: absolute;
				background-color: $bleu-main;
				width: 135px;
				height: 40px;
				font-family: OpenSans;
				color:  #ffffff;
				font-size: 12px;
				font-weight: 700;
				text-align: center;
				line-height: 40px;
				right:-135px; top:0;
				text-transform: uppercase;
			}
		}
		.description{
			position: absolute;
			bottom:0; right:0;
			background-color: #fff;
			width: 55%;
			height: 367px;
			h2{
				margin-top: 92px;
				margin-left: 130px;
				margin-bottom: 29px;
				font-family: OpenSans;
				color:  #000000;
				font-size: 30px;
				font-weight: 400;
				span{
					font-family: OpenSans;
					color:  #000000;
					font-size: 30px;
					font-weight: 700;
				}
			}
			.btn{
					margin-top: 33px;
					border-radius: 0px;
					position: absolute;
					right: 77px; bottom: 30px;
				}
			p{
				margin-left: 130px;
				font-family: Lato;
				color:  #000000;
				font-size: 16px;
				width: 470px;
				font-weight: 400;
				line-height: 24px;
				text-align: left;
			}
		}
	}
}

.main.map {
	.header {
		width: 960px;
		margin: 100px auto;
		font-style: 21px;
	}
	
	h3,
	p {
		text-align: center;
	}
	
	h3 { margin-bottom: 1em; }
	
	.dummy-map {
		width: 100%; max-width: 1440px; display: block; margin: auto;
	}
}

.main.label, .main.faq, .main.decouvrir {
	hr {
	height: 3px;
    width: 30px;
	margin: 30px 0;
    background-color: #55acee;
    border: none;
	}
	.wrap { padding: 80px; }
	.header {
		margin-bottom: 100px; 
		> p:first-of-type { font-weight: bold; font-size: 21px; line-height: 1.3; margin-bottom: 60px; }
		> h3 { color: #55acee; text-transform: uppercase; }
		> p { margin-bottom: 60px; margin-top: 15px; }
	}
	i { float: right; margin-top: 15px; margin-right: 15px; }
	
	article {
		margin-bottom: 37px;
		h3 {
			padding: 15px; border-bottom: 3px solid $bleu-clair; margin-bottom: 5px; cursor: pointer; 
			&:hover { background: #E1E1E1; }
		}
		p {  }
	}
}

.main.parcourir-metiers {
	.wrap { padding: 80px 80px 0;}
	ul.filters {
		padding-top: 15px;
		li {
			display: inline-block; 
			margin: 10px 10px 5px 0;
			background: $gris-clair;
			a {
				display: block;
				padding: 15px 17px; font-size: 12px;
			}
			&.active {
				background: $bleu-main; 
				color: white;
			}
		}
	}
	
}

	ul.jobs {
		text-align: center;
		li {
			display: inline-block;
			margin: 40px 50px; 
			background: url("http://lorempixel.com/240/160/") top center no-repeat white;
			padding-top: 160px;
			width: 240px; height: 350px;
			box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
			
			
				
			/*&:before {
				content: " ";
				height: 3px;
				background: red;
				display: block;
			}*/
			
			.inner-wrap { 
				padding: 10px 20px;
				border-top: 3px solid red;
				
				h4 {
					color: inherit;
					text-align: left;
					font-style: 16px;
				}
				hr {
					height: 3px;
					width: 30px;
					margin: 10px 0;
					background-color: red;
					border: none;
				}
			}
		}	
	}

.main.faq {
	ul.posts {
		li {
			cursor: pointer; transition: background-color 0.3s;
			&:hover { background-color: #F1F1F1; transition: none; }
			
			display: flex;
			background: white;
			border-bottom: 2px solid #E7E7E7; &:last-child { border-bottom: 0; }
			padding: 0 15px;
			
			> * { padding: 20px; }
			
			.left:before {
				content: " "; display: block;
				border-radius: 50%; 
				width: 75px; height: 75px;
				background: url("http://lorempixel.com/75/75/") center center no-repeat;
			}
			.center {
				flex-grow: 1;
				position: relative;
				h4 { color: inherit; text-align: left; font-size: 20px; margin-bottom: 5px; }
				.sub { color: $gris-clair; font-size: 10px; /*position: absolute; bottom: 15px; left: 20px; right: 20px;*/ }
			}
			.right {
				color: $gris-clair; 
				i { float: none; }
			}
		}
	}
}

.main.faq_rep {
	.wrap { padding: 80px; }
	ul.posts {
		li {
			
			margin-bottom: 30px;
			
			background: white;
			border-bottom: 2px solid #E7E7E7; &:last-child { border-bottom: 0; }
			padding: 0 15px;
			
			> * { padding: 20px; }
			
			.upper {
			
				.left:before {
					content: " "; display: block;
					border-radius: 50%; 
					width: 75px; height: 75px;
					background: url("http://lorempixel.com/75/75/") center center no-repeat;
					float: left;
				}
				.center {
					margin-left: 110px;
					position: relative;
					top: 15px;
					h4 { color: inherit; text-align: left; font-size: 20px; margin-bottom: 5px; }
					.sub { color: $gris-clair; font-size: 10px; /*position: absolute; bottom: 15px; left: 20px; right: 20px;*/ }
				}
				
				&:after {
				clear: both; display: block; 
				}
			}
			
			.even-lower {
			
				padding: 0;
				text-align: right;
				
				p { text-align: right; }
				
				.right { display: none; }
				
				.right:before {
					content: " "; display: block;
					border-radius: 50%; 
					width: 50px; height: 50px;
					background: url("http://lorempixel.com/50/50/?") center center no-repeat;
					float: right;
				}
				.center {
					margin-left: 110px;
					position: relative;
					h4 { color: inherit; text-align: left; font-size: 20px; margin-bottom: 5px; }
					.sub { color: $gris-clair; font-size: 10px; /*position: absolute; bottom: 15px; left: 20px; right: 20px;*/ }
				}
				
				&:after {
				clear: both; display: block; content: " ";
				}
			}
			
			&:not(:first-of-type) {
				.upper {

					.left:before {
						content: " "; display: block;
						border-radius: 50%; 
						width: 50px; height: 50px;
						background: url("http://lorempixel.com/75/75/") center center no-repeat;
						float: left;
					}
					.center {
						margin-left: 75px;
					}
				}
			}
			
			.lower {
				
			}
		}
		
		li:not(:first-of-type) {
			margin: 40px;	
		}
	}
}

.main.snapchat, .main.web {
	
	.header {
		background: $bleu-main;
		height: 90px;
		
		position: relative;
		p { 
			position: absolute; left: 0; right: 50%; text-align: center; top: 0; bottom: 0;
			text-transform: uppercase;
			font-weight: bold;
			font-style: 18px; color: white;
			line-height: 90px; vertical-align: middle;
		}
		
		nav { 
			position: absolute; left: 50%; transform: translateX(50px); right: 51px; text-align: center; top: 0; bottom: 0;
			text-transform: uppercase;
			font-weight: bold;
			font-style: 18px; color: white;
			line-height: 90px; vertical-align: middle;
			text-align: left;
			
			&:before {
			content: " ";
			height: 2px; width: 100px;
				background: white;
				display: block;
				position: absolute;
				left: 0;
				top: 46px;
				width: 270px;
			}
			
			div {
				border-radius: 50%;
				width: 25px;
				height: 25px;
				border: 4px solid white;
				position: relative;
				margin-right: 20px;
				display: inline-block;
				background: $bleu-main;
				cursor: pointer;
				vertical-align: middle;
				
				&:before {
					content: " ";
					display: block;
					background: white;
					top: 3px; left: 3px; right: 3px; bottom: 3px;
					border-radius: 50%;
					position: absolute;
					opacity: 0;
					transition: 0.5s;
					
				}
				
				&.done:before, &:hover:before {
					opacity: 1;
				}
			}
		}
	}
	
	
	> .wrap.slides {
		
		
		
		overflow: hidden;
		* { white-space: normal; }
		
		.slides-inner {
			white-space: nowrap;
			transition: transform 0.6s ease-in-out;
			
			.slide {
				background: no-repeat center center /cover;
				vertical-align: bottom;
				display: inline-block;
				width: 100%;

				> .wrap {
					display: flex; 

					.left, .right {
						width: 50%;
						height: 720px;
					}

					.text-side {

						padding: 50px;
						position: relative;
						
						h2 {
							margin-bottom: 25px;
						}

						> h4 {
							text-transform: uppercase;
							color: $bleu-main;
							font-weight: bold;
							text-align: left;
							margin-top: 50px;
							margin-left: 35px;
						}

						.jobs {
							text-align: left;
							li { zoom: 0.75; }
						}
						
						.next, .prev {
							position: absolute;
							bottom: 20px;
							width: 190px;
							height: 46px;
							transition: background-color 0.3s;
						}
						
						.next:hover, .prev:hover {
							background-color: #E7E7E7;	
							transition: none;
						}
						
						.prev { left: 20px; background: url("../media/prev.png"); }
						.next { right: 20px; background: url("../media/next.png"); }
					}
				}
			}

		}
	}
}

.main.web .header nav:before { width: 160px; }


/*
		DASHBOARD
 */

.dash-admin{
	background-color: #3d4750;
	.wrap{
		width: 990px; height: 74px;
		margin:0 auto;
		display: flex;
		align-item:center;
    justify-content: center;
    text-align: center;
	}
	a{
		width: calc(100%/3);
		height: 74px;
		text-align: center;
		line-height: 74px;
		display: inline-block;
		font-family: OpenSans;
		color:  #ffffff;
		font-size: 16px;
		font-weight: 700;
	}
}